{%extends 'base.html' %}

{%block content%}
{% load crispy_forms_tags %}
<div class="profile_section">
    <form class='my-5 py-4 px-5' style=" background-color:antiquewhite; width:50%; margin:auto" method = 'post' action="">
        <h1 class='pb-2'>Update your Profile</h1>
        <a class='btn btn-warning btn-sm' href="{%url 'password_change'%}">Change Password</a>
        {% csrf_token %}
        {{form | crispy}}
        <input class='btn btn-danger px-4' type="submit" value="Submit">
    </form>
</div>
{%endblock%}